body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.form-2-wrapper {
    background: #9d00ff29;
    padding: 60px;
    border-radius: 8px;
}

select.form-control,
input.form-control {
    padding: 15px;
    border: none;
    border: 2px solid #405c7cb8;
    border-radius: 30px;

}

select.form-control:focus,
input.form-control:focus {
    box-shadow: none;
    outline: 0px;
}

button.login-btn {
    background: #b400ff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 30px;
}

.register-test a {
    color: #000;
}

.social-login button {
    border-radius: 30px;
    margin: 0px 5px 0px 5px;
}