<nav class="navbar is-fixed-top">
    <div class="navbar-brand">
        <a href="#">
            <img src="assets/images/sportifyLogo.png" alt="logo" class="logo1" />
        </a>
        <a role="button" class="navbar-burger burger" data-target="navMenu" aria-label="menu" aria-expanded="false"
            tabindex="0">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#home" class="nav-link">Kreu</a>
            <a href="#blog" class="nav-link">Blog</a>
            <a href="#events" class="nav-link">Eventet</a>
            <a href="#faq" class="nav-link">FAQ</a>
        </div>
        <div class="navbar-end">
            <span *ngIf="currentUser">PERSHENDETJE {{ currentUser?.name }} - ROLI JUAJ: {{ currentUser?.role }}</span>
            <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="button-identifikohu">IDENTIFIKOHU</a>
            <a *ngIf="isLoggedIn" (click)="logOut()" class="button-identifikohu">DIL</a>
        </div>
    </div>
</nav>

<div class="filters-container">
    <div id="filters">
        <mat-form-field appearance="fill" class="small-picker">
            <mat-label>Data Fillimi</mat-label>
            <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="start">
            <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="small-picker">
            <mat-label>Data Mbarimit</mat-label>
            <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="end">
            <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>

        <button id="filter-button" (click)="filterEvents()">Filtro</button>
    </div>
</div>

<div class="calendar-events-container">
    <div class="column">
        <div class="calendar-container">
            <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateSelected($event)"
                [dateClass]="dateClass"></mat-calendar>
        </div>
    </div>
    <div class="column">
        <div class="events-section" *ngIf="filteredEvents.length > 0 && selectedDate === null">
            <h2>Lista e Eventeve</h2>
            <div class="list-group">
                <div *ngFor="let event of filteredEvents" class="event-list-item">
                    <div class="event-date">
                        <div class="event-day">{{ event.date | date:'d' }}</div>
                        <div class="event-month-year">{{ event.date | date:'MMM yyyy' }}</div>
                        <div class="event-time">{{ event.startTime }} - {{ event.endTime }}</div>
                    </div>
                    <div class="event-content">
                        <div class="event-title">{{ event.name }}</div>
                        <div class="event-summary">{{ event.summary }}</div>
                        <div class="event-location"><strong>Adresa:</strong> {{ event.location }}</div>
                        <div class="event-sport"><strong>Lloji Sportit:</strong> {{ event.sport }}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="events-section" *ngIf="selectedDate !== null">
            <h2>Intervalet e Rezervuara për {{ selectedDate | date }}</h2>
            <div class="timetable">
                <div *ngFor="let slot of generateTimeSlots('08:00', '18:00', 60)" class="time-slot"
                    [class.booked]="isSlotBooked(slot.start)" (click)="selectSlot(slot.start)">
                    {{ slot.start }} - {{ slot.end }}
                    <div *ngIf="selectedSlot === slot.start" class="slot-details">
                        <div *ngIf="isSlotBooked(slot.start)">
                            <p><strong>Event:</strong> {{ selectedSlotDetails?.name }}</p>
                            <p><strong>Koha:</strong> {{ selectedSlotDetails?.startTime }} - {{
                                selectedSlotDetails?.endTime }}</p>
                            <p><strong>Adresa:</strong> {{ selectedSlotDetails?.location }}</p>
                            <p><strong>Lloji Sportit:</strong> {{ selectedSlotDetails?.sport }}</p>
                            <p><strong>Përmbledhje:</strong> {{ selectedSlotDetails?.summary }}</p>
                            <button (click)="cancelBooking(slot.start)">Anulo Rezervimin</button>
                        </div>
                        <div *ngIf="!isSlotBooked(slot.start)">
                            <button (click)="bookSlot(slot.start)">Rezervo Orarin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>